@import "../../CommonStyles/placeholders.scss";
@import "../../CommonStyles/variables.scss";

.header-container {
  @extend %center;
  padding: 20px;
}
.header-title {
  margin-right: auto;
  font-size: $appTitleFontSize;
  cursor: pointer;
  align-self: flex-end;
  transition: all 0.2s ease-in;
  &:hover {
    color: #fdec6e;
    text-shadow: 0px 0px 5px #fdec6e;
    transition: all 0.2s ease-in;
  }
}
.header-accessibilities {
  @extend %center;
  flex-direction: column;
  div {
    color: inherit;
    margin-left: auto;
    max-height: 46px;
  }
  svg {
    color: inherit;
  }
  .header-lang-picker {
    min-width: 135px;
    display: flex;
    justify-content: flex-end;
  }
}
.feature-language {
  display: flex;
  align-items: baseline;
}
.language-selectbox {
  margin: 0 !important;
  fieldSet {
    border: none;
  }
}
#language-select {
  margin: 0;
}
.theme-picker {
  img {
    height: 24px;
    width: 24px;
  }
  button {
    border: none;
    border-radius: 24px !important;
    &.Mui-selected,
    &.Mui-selected:hover {
      background: none;
      .img-back {
        box-shadow: 1px 1.5px 23px red;
        height: 15px;
        width: 15px;
        border-radius: 18px;
        position: absolute;
      }
    }
    .img-back {
      position: absolute;
    }
  }
  button:hover {
    box-shadow: 1px 1.5px 8px red;
    border-radius: 24px;
  }
}
.header-navigator {
  cursor: pointer;
}
