@import "../../../CommonStyles/variables.scss";


.goals-container{
    font-size: $appFontSize1XLarge;
    margin: $spacing4d;
    .goals-title{
        margin: $spacing4d;
        font-size: $appSubTitleFontSize;
    }
    ul{
        list-style-type: none;

    }
}