@import "../../../CommonStyles/variables.scss";


.intro-container{
  padding: 4px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;

  .intro-left{
    grid-column: span 5;
    justify-self: flex-start;
    grid-column-start: 1;
    grid-column-end: span 5;
    .intro-title{
      font-size: $appTitleFontSize;

    }
    .intro-desc{
      font-size: $appFontSizeExtraLarge;

    }
  }
  .intro-right{
    grid-column: span 7;
    justify-self: flex-start;
  }
}