//--- FONTS -----
//--- Ubuntu
@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../Assets/Fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}

$appFont: "Ubuntu-Regular", sans-serif;
$appTitleFontSize: 50px;
$appSubTitleFontSize: 32px;
$appFontSizeLarge: 16px;
$appFontSizeMedium: 14px;
$appFontSizeSmall: 12px;
