//--- FONTS -----
//--- Ubuntu
@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../Assets/Fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}

$appFont: "Ubuntu-Regular", sans-serif;
$appTitleFontSize: 64px;
$appSubTitleFontSize: 32px;
$appFontSize2XLarge: 24px;
$appFontSize1XLarge: 20px;
$appFontSizeLarge: 16px;
$appFontSizeMedium: 14px;
$appFontSizeSmall: 12px;
$appFontSizeExtraSmall: 8px;

//TODO:
// 767
// 768-959
// 960-1200
// 1200-1440

$spacing1d:4px;
$spacing2d:8px;
$spacing3d:12px;
$spacing4d:16px;
$spacing5d:20px;
$spacing6d:24px;
$spacing7d:28px;
$spacing8d:32px;
